{#  Copyright 2014 Vitaly Bormotov <bormvit@mail.ru>

    This file is part of Quilfe Temporable. 

    Quilfe Temporable is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Quilfe Temporable is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Quilfe Temporable. If not, see <http://www.gnu.org/licenses/>
#}
{% for task in tasks %}
    <div class="task">
        <span
            class="task-name {{ task.done ? 'task-done' : (task.red ? 'task-red') }}"
            data-red-url="{{ path('task_change_red', { task: task.id }) }}"
        >{{ task.name }} <span class="task-date" title="прошло дней: {{ date('now').diff(task.createdAt).days }}">{{
            task.createdAt|date('d.m.Y')
        }}</span></span>
        {% if not task.done %}
            <input
                type="button"
                value="Готово!"
                class="task-mark task-button" 
                data-url="{{ path('task_mark_done', { task: task.id }) }}"
            />
        {% endif %}
    </div>
{% endfor %}
