<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Quilfe Temporable{% endblock %}</title>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="{{ asset('js/script.js') }}"></script>
    </head>
    <body class="{% block body_classes %}{% endblock %}">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
